*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style:none;
}
a:hover{
	text-decoration: none;
	list-style: none;
}
.extra-divh2{
	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 5px;
}
.header{

	width: 100%;
	height: 100vh;
	 background-image:  url('1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%,100% 75%,50% 100%,0% 75%,0 0);	
	position: relative;

}
.nav-item a{
	color: #fff!important;
	font-weight: bold;
}
.header-section{
	height: inherit;
	width: 100%;
	color:white;
	z-index: 5;
	position: relative;
	text-align: center;

}
.center-div{
	width:100%;
	height: auto;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.header-buttons a{

border: 1px solid #fff;
border-radius: 100px;
margin: 0 5px;
padding: 12px 35px;
outline: none;
color: #fff;
font-size: 1rem;
font-weight: 400;
line-height: 1.4;
text-align: center;
}
.header-buttons a:hover{
	background-image: linear-gradient(to left ,#029CFC,#0FF3D6);
	box-shadow: 0 0 20px 0 cyan;

}
.center-div{
	font-size: 1.3rem;
	color: white;
	padding: 10px 0px 20px 0px;
}
.three-extradiv{
	width: 100%;
	height: auto;
	margin: 100px 0px;
	
}
.extra-div{
	background: #fff;
	text-align: center;
	padding: 50px!important;
	border:medium none;
	border-radius: 3px;
	transition:3s;
}
.extra-div p{
	margin-top: 15px; color: #0FF3D6;text-shadow: 6px 3px 10px #0FF3D6;
}
.extra-div:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,1);
	transform: translateY(-20px);

}
.card-1{
	background-image: linear-gradient(to left ,#029CFC,#0FF3D6);
	transition: 2s;
     
}
.card-1:hover{
	background-image: linear-gradient(to right ,#029CFC,#0FF3D6);
	transform:translateY(-20px);
}
.main-div{
	height: 100vh;
	width: 100%;
	position: relative;
}
.box{
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	padding: 50px;
	background:rgba(0,0,0,0.8);
	border-radius: 10px;
}
.box h1{
	margin-bottom: 50px;
	color: #fff;
	text-transform: capitalize;
	text-align: center;

}
.box .inputbox{
	position: relative;

}
.box .inputbox input{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	color: white;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline: none;
}
.box .inputbox label{
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 1rem;
	color: #fff;
	transition: 0.5s;
}
.box input[type="submit"]{
background:transparent;
border:none;
outline: none;
color: #fff;
background-color: #03a9f4;
padding: 8px 16px;
border-radius: 5px;
}
.box .inputbox input:focus ~ label,.box .inputbox input:valid ~ label{
	top: -20px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
.project h1{
	font-size: 2rem;
	text-align: center;
}
/*pricing css starts*/
.pricing{
	 width: 100%;
	 height: 100vh;
	 padding:50px;
	 position: relative;
}
.pricing:before
{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right:0%;
	z-index: -1;
	background:linear-gradient(160deg, #16c9f6 55%,#fff 0%);
}
.money{
	font-size: 40px;
	line-height: 1;
	color: #606060;
}
.card {
	transition: 3s ease;
}
.card-header{
	font-size: 1.6rem;
	font-weight: bold;
	background:white !important;
	padding: 25px 0 !important;
}

.card-body{
	padding: 30px 0px !important;
 
}
.card-body li{
	 margin: 10px 0;
	 font-weight: 400;
	 font-size: 15px;
	 line-height: 1.6;
	 color: #606060;
}
.card-footer{
	background:white!important;
	padding: 30px 0px !important;
}
.card-footer a{

border: 1px solid #50d1c0;
border-radius: 100px;
margin: 0 5px;
padding: 12px 35px;
outline: none;
color: #50d1c0;
font-size: 1rem;
font-weight: 400;
line-height: 1.4;
text-align: center;
}
.card:hover .card-footer a{
	color: black;
	background-image: linear-gradient(to left ,#029CFC,#0FF3D6);
	box-shadow: 0 0 20px 0 cyan;
}
.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
}
 .card:hover .money, .card:hover .card-header{
	 color:#50d1c0;    
}
.card-sec{
	transform: translateY(-20px);
}
/*pricing css ends*/
/*contact us*/
.contact-us{
	width: 100%;
	height: 100vh;
	padding: 80px 0px;
	position: absolute;
	margin-top: 100px;
}
.contact-us:before{
	content: "";
	position: relative;
	background:linear-gradient(330deg,#16c9f6 55%,#fff 0%);
	z-index: -1;

}
.form2 button{
	border:1px solid ;
	border-radius: 50px;
}
::placeholder{
 font-size: 0.8rem;

}


